src/main/mule/hr-payroll-eapi-integration.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<flow name="hr-payroll-eapi-integration-main">
        <http:listener config-ref="hr-payroll-eapi-integration-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="hr-payroll-eapi-integration-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\employees:application\json:hr-payroll-eapi-integration-config">
        <logger level="INFO" doc:name="StartLogger" doc:id="0544b15e-cbb3-4784-b1db-f8d3ff03a6e5" message='#[%dw 2.0
output application/json
import * from dw::util::Values
---
{
	"FlowName" : "put:\employees:application\json:hr-payroll-eapi-integration-config",
	"payload" : payload mask  field("Salary") with "*****",
	"correlationId" : correlationId
}]'/>
		<ee:transform doc:name="mappings" doc:id="656b67ca-2e07-4098-bb92-19ed9576b0ea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Name: payload01.Name,
	Employee_ID__c: payload01.EmpId,
	Date_Of_Birth__c: payload01.DateOfBirth as Date,
	Designation__c: payload01.Designation,
	Department__c: payload01.Department,
	Salary__c: payload01.Salary
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="insertOrUpdateEmployeeRecords" doc:id="cea7260a-b592-4357-9c46-99709592d98a" name="insertOrUpdateEmployeeRecords" />
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="response message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Message: "The record is created/updated successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8033deef-6dee-430a-9766-4076655f3709" message='#[%dw 2.0&#10;output application/json&#10;import * from dw::util::Values&#10;---&#10;{&#10;	"FlowName" : "put:\employees:application\json:hr-payroll-eapi-integration-config",&#10;	"payload" : payload mask field("Salary") with "*****",&#10;	"correlationId" : correlationId&#10;}]'/>
    </flow>
    <flow name="delete:\employees\(eid):hr-payroll-eapi-integration-config">
		<logger level="INFO" doc:name="Logger" doc:id="21427a55-0418-415b-a851-5d7d22ad58db" />
		<flow-ref doc:name="deleteEmployeeRecord" doc:id="5a112570-7a02-48a4-b867-06e4ff5f03ea" name="deleteEmployeeRecord" />
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="successResponse">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Message: "The record is deleted successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4f9ba0b4-3b1a-4061-9445-1ed58d9756a7" />
		<error-handler ref="global_Error_Handler" />
    </flow>
    <flow name="get:\employees:hr-payroll-eapi-integration-config">
		<logger level="INFO" doc:name="Logger" doc:id="8c74df29-3d69-496c-a303-a7fc54ccf93f" />
		<flow-ref doc:name="queryAllEmployees" doc:id="85b2cd27-6af1-4516-b55c-50bd0f765651" name="queryAllEmployees" />
		<ee:transform doc:name="employeeRecordsResponse" doc:id="b31f1902-298d-4ac7-97b5-1aab67081361" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
	"Employee Identification": $.Employee_ID__c,
	"Employee Name": $.Name,
	"Date Of Birth" : $.Date_Of_Birth__c as String,
	Designation: $.Designation__c,
	Department: $.Department__c,
	Salary: $.Salary__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="37edb3df-df16-4812-928a-9abcfcbedc99" />
		<error-handler ref="global_Error_Handler">
		</error-handler>
    </flow>
    <flow name="get:\employees\(eid):hr-payroll-eapi-integration-config">
		<logger level="INFO" doc:name="Logger" doc:id="f43059dc-f9af-4329-a913-afed90f85389" />
		<flow-ref doc:name="querySingleEmployeeRecord" doc:id="097bcc51-a3fc-40e0-aa99-ca417df664a4" name="querySingleEmployeeRecord"/>
		<ee:transform doc:name="Transform Message" doc:id="bf678ad2-1eb6-475a-9a81-2d79c76f5f1a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Employee Identification": payload[0].Employee_ID__c,
	"Employee Name": payload[0].Name,
	"Date Of Birth" : payload[0].Date_Of_Birth__c as String,
	Designation: payload[0].Designation__c,
	Department: payload[0].Department__c,
	Salary: payload[0].Salary__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d027cac7-ba0e-467d-a78e-170468ab0a87" />
    </flow>
</mule>
